*{margin: 0;outline: 0;padding: 0;font-size: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a {text-decoration: none;}
html {height: 100%;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {margin: 0;padding: 0;width: 100%;height: 100%;min-height: 100%;font-family: Helvetica, Arial, sans-serif;font-size: 20px;line-height: 1.231;-webkit-touch-callout: none;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align: stretch;position: relative;}
.body {display:block;width:100vw;margin:0 auto;position:relative;}
@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {
.body {width:60vh;}
}
@media all and (orientation:landscape) and (max-width:736px) {
.body {width:100vw;}
}
/*-index-*/
#title {width:100%;height:60px;position:relative;background:url(https://xxks.jxnu.edu.cn/sj/css/title.png) no-repeat center center #FFF;background-size:90% auto;border-bottom:3px solid #D4AE1F;}
#menu,#goback {display:block;width:25px;height:25px;background-image:url(https://xxks.jxnu.edu.cn/sj/css/icon-menu.png);background-repeat:no-repeat;background-size:200% auto;margin:auto;top:0;bottom:0;position:absolute;}
#menu {background-position:100% 0;right:5px; background-color:#09F}
#goback {background-position:0 0;left:5px;}
#menulist {position:absolute;width:100px;background:#D4AE1F;z-index:999;right:0;top:53px;display:none;}
#menulist a {display:block;text-decoration:none;line-height:25px;margin-top:1px;background:#0B3857;color:#FFFFFF;text-align:center;}
#flash {overflow:hidden;width:100vw;position:relative;z-index:-1;}
#flash li {list-style: none; }
#flash ul li { float:left;width:100vw;height:61vw;}
#flash .dots {bottom:5px;right:5px;position:absolute;}
#flash .dots li {display: inline-block;width: 10px;height: 10px;margin: 0 4px;text-indent: -999em;border: 2px solid #fff;border-radius: 6px;cursor: pointer;opacity: .4;-webkit-transition: background .5s, opacity .5s;-moz-transition: background .5s, opacity .5s;transition: background .5s, opacity .5s;}
#flash .dots li.active {background: #fff;opacity: 1;}
@media all and (orientation:landscape) {
#flash {width:60vh;}
#flash ul li {width:60vh;height:34.8vh;}
}
@media all and (orientation:landscape) and (max-width:736px) {
#flash {width:100vw;}
#flash ul li {width:100vw;height:58vw;}
}
#slogan {width:100%;position:absolute;top:0;left:10px;padding-top:26%;}
#slogan p {display:inline-block;font-size:1em;line-height:150%;margin:2px;padding:0 5px;color:#FFFFFF;}
.list_ul{overflow: hidden;width:100%;list-style:none;padding:0;background:#EDEDED;} /*background修改*/
.list_ul li {float:left;width:25%;margin-bottom:1px;}
.list_ul a {margin:0 0.5px;display:block;text-align:center;padding:8px 0;background:#FFFFFF;} /*background修改*/
.list_ul i {display:block;width:50px;height:50px;border-radius:45%;margin:0 auto;overflow:hidden;background-size:300% auto;background-image:url(https://xxks.jxnu.edu.cn/sj/css/icon.png);}
.list_ul label{height:24px;line-height:24px;display:block;overflow:hidden;word-spacing:normal;word-break:break-all;font-size:12px;text-shadow:none;color:#333;}
.icon-1 i {background-position:0 0;background-color:#FFA54F;}
.icon-2 i {background-position:50% 0;background-color:#40B990;}
.icon-3 i {background-position:100% 0;background-color:#4CC7EB;}
.icon-4 i {background-position:0 33.3%;background-color:#E9AD7B;}
.icon-5 i {background-position:50% 33.3%;background-color:#6BC36D;}
.icon-6 i {background-position:100% 33.3%;background-color:#C6958E;}
.icon-7 i {background-position:0 66.6%;background-color:#7994AF;}
.icon-8 i {background-position:50% 66%;background-color:#D32D13;}
.icon-9 i {background-position:100% 66.6%;background-color:#699BD0;}
.icon-10 i {background-position:0 100%;background-color:#BD5CE1;}
.icon-11 i {background-position:50% 100%;background-color:#9ACABC;}
.icon-12 i {background-position:100% 99.4%;background-color:#E9AD7B;}
h2 {text-align:center;color:#0B3857;font-size:1.5em;margin:10px auto;}
.list_ul2 {overflow: hidden;width:100%;list-style:none;padding:0;}
.list_ul2 li {float:left;width:25%;}
.list_ul2 a {margin:5px;display:block;text-align:center;} 
.list_ul2 i {display:block;width:50px;height:50px;margin:0 auto;overflow:hidden;}
.list_ul2 label{height:24px;line-height:24px;display:block;overflow:hidden;word-spacing:normal;word-break:break-all;font-size:12px;text-shadow:none;color:#FFF;}
.icon-13 {background:#C9BDB1;border-radius:10px;}
.icon-13 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 0 100%;background-size:300% auto;}
.icon-14 {background:#FFA54F;border-radius:0 40px 0 40px;}
.icon-14 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 0 100%;background-size:300% auto;}
.icon-15 {background:#7994AF;border-radius:40px 0 40px 0;}
.icon-15 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 0 100%;background-size:300% auto;}
.icon-16 {background:#6BC36D;border-radius:40px 40px 40px 0;}
.icon-16 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 0 100%;background-size:300% auto;}
.list_ul3 {overflow: hidden;width:100%;list-style:none;padding:0;}
.list_ul3 li {float:left;width:25%;margin-bottom:10px;}
.list_ul3 a {width:80px;margin:auto;height:80px;display:block;text-align:center;} 
.list_ul3 i {display:block;width:50px;height:50px;margin:0 auto;overflow:hidden;}
.list_ul3 label{height:24px;line-height:24px;display:block;overflow:hidden;word-spacing:normal;word-break:break-all;font-size:12px;text-shadow:none;color:#FFF;}
.icon-17 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 0 0;background-size:auto 100%;}
.icon-17 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 0 100%;background-size:300% auto;}
.icon-18 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 20% 0;background-size:auto 100%;}
.icon-18 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 50% 100%;background-size:300% auto;}
.icon-19 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 40% 0;background-size:auto 100%;}
.icon-19 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 100% 100%;background-size:300% auto;}
.icon-20 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 60% 0;background-size:auto 100%;}
.icon-20 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 100% 33.3%;background-size:300% auto;}
.icon-21 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 80% 0;background-size:auto 100%;}
.icon-21 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 100% 33.3%;background-size:300% auto;}
.icon-22 {background:url(https://xxks.jxnu.edu.cn/sj/css/hexagon_bg.png) no-repeat 100% 0;background-size:auto 100%;}
.icon-22 i {background:url(https://xxks.jxnu.edu.cn/sj/css/icon.png) no-repeat 100% 33.3%;background-size:300% auto;}


.copyright {text-align:center;background:#0B3857;color:#FFFFFF;margin-top:5px;padding:10px;line-height:150%;}
.copyright a {color:#FFFFFF;}
.e-content h3 {text-align:center;margin:20px 0;font-size:1.2em;}
.e-content p {text-indent:0;margin:10px 0;line-height:150%;font-size:1em;}
.e-content ul {list-style:none;margin:0;padding:0;border-bottom:1px solid #D4D0C8;}
.e-content li {background:#f0f0f0;border-top:1px solid #D4D0C8;padding:10px;}
.e-content li a {color:#333333;}
